#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

# VSCode directory
.vscode/

.bash_history
.gdb_history
Kernel/kernel.elf
Userland/0000-sampleCodeModule.elf
.tgdbinit
.gdbinit

# gdb
.gdbinit
.tgdbinit